nav{
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 100vw;
    font-weight: 600;
}

nav > a{
    color: white;
    text-decoration: none;
}

abbr{
    text-decoration: none;
}

nav > a:first-of-type{
    width: 80%;
    font-size: 30px;
    font-weight: bold;
    padding: 0 10px;
}

.items{
    margin: 0 15px;
}