@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;;
    font-display: swap;
    font-weight: 100 900;
    background-color: rgb(32, 33, 36);
    color: white;
}

.main{
    margin: 30px 10px 10px 20px;
}
pre{
    font-size: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-left: 20px;
}

.option{
    min-height: 30px;
    background-color: rgb(105, 109, 109);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.option pre, .option input{
    margin-left: 20px;
    font-size: 17px;
    padding: 0;
}

.option:hover, .option label:hover, input:checked{
    cursor: pointer;
    text-decoration: none;
}

.heading{
    font-size: 20px;
    font-weight: bold;
}

.navigate{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 10px;
    border-radius: 10px;
    min-width: 100px;
    min-height: 30px;
    font-size: 18px;
    background-color: #4ea8de;
    text-align: center;
    padding: 5px;
}

button:nth-of-type(3){
    background-color: #f5c542;
}
button:nth-of-type(2){
    background-color: #3fcf8e;
}

button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

.results{
    display: none;
}
.results pre{
    text-indent: 50px;
}

/* aside{
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #2F3C62;
    color: #D8DEF4;
}

aside *{
    margin:0;
}

aside a{
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(116, 185, 255);
    color: black;
    border-radius: 50px;;
} */

aside {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background: #1E2C3A;
    padding: .55rem .75rem;
    border-radius: 10px;

    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .45);

    display: none;
    align-items: center;
    gap: .5rem;
    font-size: .85rem;
}

aside i {
    color: #9FC7FF;
    font-size: 1rem;
}

aside a {
    color: #CFE3FF;
    text-decoration: none;
    font-weight: 500;
    transition: color .2s ease;
}

aside a:hover {
    color: #E7F1FF;
}
