@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-display: swap;
    font-weight: 100 900;
    background-color: rgb(32, 33, 36);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    flex: 1;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

h1{
    font-size: 50px;
    margin: 0;
}

form{
    height: 55px;
    width: 800px;
    border: 1px solid black;
    margin-top: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 50px;
    background-color: rgb(88, 88, 88);
    transition: 0.5s ease;
    padding: 0;
}

form:focus-within{
    box-shadow: 0 0 10px 0 rgb(207, 207, 207);
}

input{
    height: 90%;
    width: 90%;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 50px 0px 0px 50px;
    padding: 0px 10px 0 20px;
    background-color: rgb(88, 88, 88);
    color: white;
}

button{
    width: 5.5%;
    height: 80%;
    border-radius: 100%;
    background-color: rgb(215, 215, 215);
    color: black;
    border: none;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
}

.loading{
    display: none;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.loading-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.loader {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    border: 6px solid #555;
    border-top: 6px solid #f0f0f0;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loading-text{
    transition: 0.5s linears;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}