{% load static %}
<footer class="footer">
    <link rel="stylesheet" href="{% static 'App1/css/footer.css' %}">
    <a href="https://github.com/Syam711/Quizz" target="_blank" class="footer-link">
        <span class="icon"><i class="fa-brands fa-github"></i></span>
        <span class="text">Prompt2Quiz</span>
    </a>

    <a href="mailto:basyamsyam@gmail.com" class="footer-link">
        <span class="icon"><i class="fa-regular fa-envelope"></i></span>
        <span class="text">basyamsyam@gmail.com</span>
    </a>

    <a href="mailto:basyamsyam@gmail.com?subject=Bug Report" class="footer-link">
        <span class="icon"><i class="fa-solid fa-bug"></i></span>
        <span class="text">Bug Report</span>
    </a>

    <a href="https://github.com/Syam711/Quizz/blob/main/readme.md" class="footer-link" target="_blank">
        <span class="text">Help</span>
    </a>
</footer>
