{% load static %}
{{ problem | json_script:"problem" }}
{{ ind | json_script:"ind" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ problem.topic }}</title>
    <link rel="stylesheet" href="{% static 'App1/css/problem.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="../../static/App1/css/problem.css">
</head>
<body>
    {% include 'App1/navbar.html' %}
    <div class="main">
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="ind" value="{{ ind }}">
            <label for="question" class="heading">Question {{ ind | add:1 }}</label>
            <div id="question">
    <pre>
        {{problem.question}}
    </pre> 
            </div>
            <label for="options" class="heading">Options</label>
            <div id="options">
                <label for="A">
                    <div class="option">
                        <input type="radio" name="option" id="A" value="0">
    <pre>{{ problem.options.0 }}</pre>
                    </div>
                </label>
                <label for="B">
                    <div class="option">
                        <input type="radio" name="option" id="B" value="1">
    <pre>{{problem.options.1}}</pre>
                    </div>
                </label>
                <label for="C">
                    <div class="option">
                        <input type="radio" name="option" id="C" value="2">
    <pre>{{problem.options.2}}</pre>
                    </div>
                </label>
                <label for="D">
                    <div class="option">
                        <input type="radio" name="option" id="D" value="3">
    <pre>{{problem.options.3}}</pre>
                    </div>
                </label>
                
            </div>
            <div class="results">
                <div>
                    <h3 class="heading"></h3>
                    <h4 class="heading">Explanation:</h4>
                    <pre>{{ problem.explanation }}</pre>
                    <h4 calss="heading">Answer :</h4>
                    <pre>{{ problem.answer }}</pre>
                </div>
            </div>
            <div class="navigate">
                <button type="submit" name="prev" id="prev">Previous</button>
                <button type="submit" name="submit" id="submit">Submit</button>
                <button type="submit" name="next" id="next">Next</button>
            </div>
        </form>
    </div>

    <aside>
        <i class="fa-solid fa-circle-question"></i>
        <a href="https://www.google.com/search?q=https://www.google.com/search?q={{ problem.question }}" target="_blank">
            Still confused? Search Google →
        </a>
    </aside>

    <script src="{% static 'App1/JS/problem.js' %}"></script>

</body>
</html>